name: Build Debian Package

on:
  push:
    branches: [ "main" ]

jobs:
  deb-build:
    runs-on: ubuntu-22.04
    container:
      image: ghcr.io/vanilla-os/pico:dev
      volumes:
        - /proc:/proc
        - /:/run/host
      options: --privileged -it

    steps:
    - uses: actions/checkout@v4

    - name: De-bloat stock image
      run: |
        rm -r /run/host/usr/share/dotnet
        rm -r /run/host${{ runner.tool_cache }}

    - name: Install needed packages
      run: |
        dpkg --add-architecture arm64
        apt update
        apt install -y dh-golang golang-go libbtrfs-dev libdevmapper-dev libgpgme-dev lvm2 gcc-aarch64-linux-gnu libdevmapper-dev:arm64 pkgconf:arm64

    - name: Vendor dependencies
      run: go mod vendor

    - name: Build debian package
      run: |
        make deb
        rm -rf obj-x86_64-linux-gnu
        apt install -y libgpgme-dev:arm64
        make deb-arm64
        mv ../albius_*_amd64.deb ./albius-amd64.deb
        mv ../albius_*_arm64.deb ./albius-arm64.deb

    - uses: softprops/action-gh-release@v1
      with:
        token: "${{ secrets.GITHUB_TOKEN }}"
        tag_name: "continuous"
        prerelease: true
        name: "Continuous Build"
        files: |
          albius*.deb
